{{form.value | json}}
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="row px-3 py-5 justify-content-center">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Course</p>
                    <div class="col">
                        <select formControlName="course" class="form-control" >
                            <option [value]="null">Select Course</option>
                            <option *ngFor="let course of courses" [value]="course.id">{{course.name}}</option>
                        </select>
                        
                        <div *ngIf="course?.touched && course?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="course?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4" *ngIf="course?.value !== null">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Batch</p>
                    <div class="col">
                        <select formControlName="batch" class="form-control" >
                            <option *ngFor="let batch of batches" [value]="batch.id">{{batch.batchCode}}</option>
                        </select>
                        <div *ngIf="batch?.touched && batch?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="batch?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Title</p>
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Title" formControlName="title" />
                        <div *ngIf="title?.touched && title?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="title?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Link</p>
                    <div class="col">
                        <textarea class="form-control" placeholder="Link" formControlName="link"></textarea>
                        <div *ngIf="link?.touched && link?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="link?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0">Description</p>
                    <div class="col">
                        <textarea class="form-control" placeholder="Description" formControlName="description"></textarea>
                        <div *ngIf="description?.touched && description?.invalid">
                            <span class="invalid-feedback d-block" *ngIf="description?.errors?.['required']">
                                This Field is required
                            </span>
                        </div>
                    </div>
                </div>
            </div>
           
          
           
            <div class="col-11 mt-4">
                <div class="col-12 d-flex justify-content-between align-items-center">
                    <p class="col-3 m-0"></p>
                    <div class="col">
                        <button *ngIf="!loading" type="submit" class="btn btn-warning" [disabled]="form.invalid"><i
                                class="fas fa-plus-circle me-2"></i> Add</button>
                        <button *ngIf="loading" class="btn btn-primary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</form>